<!-- <div class="searchBar">
    <h2 class="headerSearchBar">
        Listen to Music!
    </h2>
    <div class="containerSearchBar">
            <span class="icon"><i class="fa fa-search"></i></span>
            <input type="search"  placeholder="Search for Songs...">
    </div>
</div>
-->
<h2 class="header">Welcome To FreeBird</h2>
<div class="container">
  <input #query id="inputbar" type="text" (keyup)="search(query.value)" class="form-control" placeholder="Search...">
  <div class="search"></div>
</div>

<app-favtracks></app-favtracks>


<app-loading class="m-5" *ngIf="loading"></app-loading>



<app-cards *ngIf="!loading" [items]="artists"></app-cards>