<!--<app-loading *ngIf="loadingArtist"></app-loading>-->
<app-loading *ngIf="loadingArtist"></app-loading>
<div  *ngIf="!loadingArtist">
  <div >
   <!-- <img [src]="artista.images | noimage" class="img-thumbnail img-circle" /> -->
   <img [src]="artist.images | noimage">
  </div>
  <div>
    <h3>{{ artist.name }}</h3>
    <p>
      <a [href]="artist.external_urls.spotify" target="_blank">
        <button >
          Go to the artist site
        </button>
      </a>
    </p>
  </div>

  <div>
    <button routerLink="/search">
      Regresar
    </button>
  </div>
</div>

<div >
  <div>
    <table class="table">
      <thead>
        <tr>
          <th>Photo</th>
          <th>Album</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let album of albums">
          <td >
            <img (click)="viewAlbum( album )" [src]="album.images | noimage"/>
          </td>
          <td>{{ album.name }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>