<app-loading *ngIf="loadingArtist"></app-loading>
<div  *ngIf="!loadingArtist">
  <div >
   <img [src]="artist.images | noimage" class="img-thumb-size">
  </div>
  <div>
    <h3 class="styled-text">{{ artist.name }}</h3>
    <p>
      <a [href]="artist.external_urls.spotify" target="_blank">
      <button class="myButton">
          Go to the artist site
        </button> 
      </a>
    </p>
  </div>
  <div>
    <button class="buttonRegresar" routerLink="/search">
      Regresar
    </button>
  </div>
</div>

<div >
  <div>
    <table class="table">
      <thead>
        <tr>
          <th class="styled-tableheader">Photo</th>
          <th class="styled-tableheader">Album</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let album of albums">
          <td>
            <div class="pointer-album">
            <img class="img-album" (click)="viewAlbum( album )" [src]="album.images | noimage"/>
            </div>  
          </td>
          <td class="styled-tablecontent">{{ album.name }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>