<!--<app-loading *ngIf="loadingArtist"></app-loading>-->
<app-loading *ngIf="loadingArtist"></app-loading>
<div  *ngIf="!loadingArtist">
  <div >
   <!-- <img [src]="artista.images | noimage" class="img-thumbnail img-circle" /> -->
   <img [src]="artist.images | noimage" class="img-thumb-size">
  </div>
  <div>
    <h3 class="styled-text">{{ artist.name }}</h3>
    <p>
      <a [href]="artist.external_urls.spotify" target="_blank">
      <button class="myButton">
          Go to the artist site
        </button> 
      </a>
    </p>
  </div>

  <div>
    <button class="buttonRegresar" routerLink="/search">
      Regresar
    </button>
  </div>
</div>

<div >
  <div>
    <table class="table">
      <thead>
        <tr>
          <th class="styled-tableheader">Photo</th>
          <th class="styled-tableheader">Album</th>
<!--          <th>Song</th>
          <th>Preview</th>  -->
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let album of albums">
          <td >
            <img (click)="viewAlbum( album )" [src]="album.images | noimage" class="img-thumb" />
          </td>
          <td class="styled-tablecontent">{{ album.name }}</td>
<!--          <td>{{ track.name }}</td>
          <td>
        <iframe
              [src]="track.uri | domsanitizer"
              width="320"
              height="90"
              frameborder="0"
              allowtransparency="true"
              allow="encrypted-media"
            ></iframe>
          </td> -->
        </tr>
      </tbody>
    </table>
  </div>
</div>