/* You can add global styles to this file, and also import other style files */
body{
    background: url(/assets/public/images/Kentucky-Pro-DJ-12-11-17.jpg) center center fixed no-repeat;
    background-size: cover;
    height: 100%;
}