<!--<app-loading *ngIf="loadingArtist"></app-loading> -->

<div>
  <div>
    <img [src]="album.images | noimage" />
  </div>

  <div >
    <h3>{{ album.name }}</h3>
  </div>

  <div >
    <button routerLink="/search">
      Regresar
    </button>
  </div>
</div>

<div >
  <div >
    <table class="table">
      <thead>
        <tr>
          <th>Canción</th>
          <th>Vista Previa</th>
          <th>Like it!</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let track of albumTracks">
          <td>{{track_number}} - {{track.name}}</td>
          <td>
            <iframe
            [src]="track.uri | domsanitizer"
            width="320"
            height="90"
            frameborder="0"
            allowtransparency="true"
            allow="encrypted-media"
          ></iframe>
          </td>
          <td>
            <button (click)="addToPlaylist( track )" type="button">Add to playlist!</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
   