<div class='container header'>

    <div id="navigation-bar">
      <nav class="navbar">
            
        <ul class="menu-ul">
          <li class="menu-li"><i class="fas fa-sliders-h"></i></li>
          <li class="menu-li"><a routerLink="/home">Home</a></li>
          <li class="menu-li"><a routerLink="/about">About</a></li>
          <li class="menu-li"><a href=#>Contact</a></li>
          <a href="#" id="menu-icon"></a>
          <section class="filter-wrapper">
            <div class="keyword-wrapper">
           <input [formControl]="queryField" type="text" id="keyword" placeholder="Search for artists..." autofocus/>
             </div>
           <ul class="filter-select">
             <li *ngFor="let result of results" class="filter-select-list"><p class="artist-name">{{result.name}}</p></li>
           </ul>
           </section>
        </ul>

      </nav>
    </div>