/* FONT IMPORTED */

/* Fira Sans */
@import url("https://fonts.googleapis.com/css?family=Fira+Sans");
@import url("https://fonts.googleapis.com/css?family=Roboto:400");

$white: #fff;
$black: #000;

#container {
  width: 100%;
  display: inline-block;
}

/** HEADER */

/** NAVIGATION BAR */
nav {
  background-color: rgb(102, 103, 104);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  .menu-ul {
    text-align: center;
    margin: 0;
    padding: 30px;
    .menu-li {
      display: inline;
      font-family: "Fira Sans", sans-serif;
      font-size: 17px;
      cursor:pointer;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      a {
        color: #f2f2f2;
        text-decoration: none;
        padding: 14px;

        &:hover {
         // background-color: #556889;
        }
      }
      i{
        font-size:15px;
      }
    }
  }
}

.content {
  text-align: center;
}



.navbar{
  height:70px;
}


.filter-select{
  background: white;
  list-style: none;
  padding:0;
  overflow:hidden;
  overflow-y: auto;
  max-height:130px;
  position:absolute;
  right:2%;
  top:85%;
  width:163px;
  font-family: "Fira Sans", sans-serif;
}

.artist-name{
  display:inline-block;
  padding-bottom: 5px;
  color:black;
}

.input-navbar{
  position: absolute;
  top: 7%;
  right:2%;
  height:40px;
  border-top-right-radius:20px;
  border-bottom-right-radius: 20px;
  border:1px solid gray;
  border-left:0;
  padding:10px;
  font-family: "Fira Sans", sans-serif;
}

.filter-select-list-notvisible{
  display:none;
}

.filter-select-list-visible{
  display:visible;
}

.filter-select-list:hover {
  background-color: #c6c6c6;
  cursor:pointer;
}


 ::-webkit-scrollbar-track
 {
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
   border-radius: 10px;
   background-color: #F5F5F5;
 }
 
 ::-webkit-scrollbar
 {
   width: 12px;
   background-color: #F5F5F5;
 }
 
 ::-webkit-scrollbar-thumb
 {
   border-radius: 10px;
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
   background-color: crimson;
 }
 

/*-------------------- responsive--------------- */

    
  @media only screen and (max-width: 400px) { 
    .input-navbar{
      position: absolute;
      top: 12%;
      right: 2%;
      height: 30px;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      border: 1px solid gray;
      border-left: 0;
      padding: 10px;
    
     } 

     .menu-li{
       position: absolute;
       left:10%;
       padding-right: 10px;
     }
  
  }